body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

body, #save-button {
    font-weight: bold;
}

.draw_container {
    height: 100vh;
}

.draw_container, #options, #color_options {
    display: flex;
}

#draw_area {
    flex: 5;
}

#options, #color_options {
    flex-display: column;
    align-items: center;
}

#options {
    background-color: #95b8d1;
    justify-content: center;
    flex: 1;
    min-width: 20%;
}

#options > * {
    width: 75%;
}

#options label {
    text-align: center;
}

#file-input {
    width: 0.00625em;
    height: 0.00625em;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-input + label, #save-button {
    border-radius: 0.25em;
    padding: 1em 2em;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
}

#file-input + label {
    background-color: #edafb8;
    box-sizing: border-box;
}

#file-input:focus + label,
#file-input + label:hover {
    background-color: #fae7ea;
}

#file-input:focus + label {
    outline: 0.0625em dotted #000;
    outline: -webkit-focus-ring-color auto 0.3125em;
}

#file-input + label * {
    pointer-events: none;
}

#color_options {
    margin: 3.125em 0;
}

#color_options * {
    margin-bottom: 0.9375em;
    width: 100%;
}

#save-button {
    background-color: #666a86;
    font-size: 1em;
    border: none;
}

#save-button:hover {
    background-color: #d1d2db;
}